* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 62.5%: 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto';
  font-size: 1.6rem;
  font-weight: 300;
  color: #413d4b;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #fff;
}

.col-1 {
  width: 8.3333%;
}
.col-2 {
  width: 16.6666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.3333%;
}
.col-5 {
  width: 41.6667%;
}
.col-6 {
  width: 50%;
}
.col-8 {
  width: 66.6666%;
}
.col-7 {
  width: 58.3333%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.3333%;
}
.col-11 {
  width: 91.6666%
}
.col-12 {
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 100;
  position: absolute;
  top: 50%;
  margin: 0;
  margin-left: 60px;
  padding: 0;
  transform: translateY(-50%);
}

h2, h3, h4, h5 {
  text-transform: uppercase;
}

h2 {
  font-family: 'serif';
  color: #413d4b;
  margin-top: 0;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.4rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

form > label {
  display: none;
}

button {
  cursor: pointer;
  color: #00e0d0;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 1px solid #00e0d0;
  transition: color 500ms ease-out, border 500ms ease-out;
  background: none;
}
button:hover {
  color: #fff;
  border-color: #fff;
}

figure {
  margin: 0;
  padding: 0;
}

#wrapper {
  text-align: left;
  margin: 0 auto;
  padding: 0;
  max-width: 960px;
}
#wrapper > * {
  padding: 15px;
}

header {
  color: #fff;
  position: relative;
  background: #3d2f62;
  z-index: 1;
}
.header_bg {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1;
}
.header_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header section.logo {
  position: relative;
  height: 50px;
}
header .image_container {
  width: 50px;
  height: 50px;
}
header section.logo img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
}

header nav {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: right;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header nav ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
header nav ul li a:hover,
header nav ul li a:active {
  color: #00e0d0;
}

header #upper_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 150px;
  z-index: 10;
}

#stage {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 200px;
  max-width: 780px;
  z-index: 10;
}
#stage h2 {
  color: #fff;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 50px;
}
#stage h2::after {
  content: '';
  position: absolute;
  left: calc(50% - 25px);
  bottom: -30px;
  width: 50px;
  height: 2px;
  background: #00e0d0;
}
#stage button {
  margin-top: 50px;
}

main > section {
  padding: 70px 0;
}

.section_bg,
#footer_bg {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

#story {
  display: flex;
}
#story .image_container {
  text-align: center;
}
#story .image_container img {
  width: 60%;
  height: auto;
  margin: 0 auto;
}
#story button {
  margin-top: 30px;
  transition: color 1000ms ease-out, border 1000ms ease-out;
}
#story button:hover {
  color: #000;
  border-color: #000;
}

#watch {
  color: #fff;
  text-align: center;
  position: relative;
  padding: 200px;
}
#watch .section_bg {
  background: url('../img/bgk-middle.png') #3d2f62 no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
#watch p {
  font-weight: 700;
  text-transform: uppercase;
}
#watch a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  transition: filter 500ms ease-out;
}
#watch a:hover {
  filter: invert(1);
}

#expertise {
  text-align: center;
}
#expertise h2 + p {
  font-family: 'serif';
}
#expertise h2 + p::after {
  content: '';
  display: block;
  margin: 20px auto 0;
  width: 50px;
  height: 2px;
  background: #c6c4c9;
}

#expertise_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 30px;
}
#expertise_list li {
  padding: 30px 40px;
  border-right: 1px solid #ebebeb;
}
#expertise_list li img {
  transition: filter 500ms ease-in;
  filter: brightness(0);
}
#expertise_list li:hover img {
  filter: none;
}
#expertise_list li:nth-of-type(3n) {
  border-right: none;
}
#expertise_list li:nth-of-type(-n+3) {
  border-bottom: 1px solid #ebebeb;
}

#team {
  color: #fff;
  text-align: center;
  position: relative;
}
#team .section_bg {
  background: url('../img/bgk-header.png') #3d2f62 no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
#team ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 45px auto 70px;
}
#team ul li {
  position: relative;
  margin: 0 10px;
  width: calc(25% - 20px);
  border: 1px solid #f4f4f6;
}
#team .portrait {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  background: #f4f4f6;
}
#team .portrait img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#team h2 {
  color: #fff;
}

#team h2 + p {
  font-family: 'serif';
}
#team h2 + p::after {
  content: '';
  display: block;
  margin: 20px auto 0;
  width: 50px;
  height: 2px;
  background: #c6c4c9;
}
#team h3 {
  margin-top: 25px;
  margin-bottom: 15px;
}
#team h3 + p {
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
}
#team p {
  font-weight: 500;
}

#calltoaction,
.client_section .clients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#contact_form {
  position: relative;
}
#contact_form label {
  position: relative;
  left: 20px;
  top: 30px;
}
#contact_form input,
#contact_form #message {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
}
#contact_form button {
  text-transform: uppercase;
}
#contact_form button:hover {
  color: #000;
  border-color: #000;
}
#contact_form #message {
  font-family: 'Roboto';
  font-size: 1.3rem;
  resize: none;
  padding: 5px;
  height: 200px;
}
.client_section .clients li {
  text-align: center;
  padding: 25px 10px;
  width: 45%;
}

footer {
  color: #fff;
  position: relative;
}
#footer_bg {
  background: url('../img/bgk-footer.png') #3d2f62 no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
#upper_footer {
  padding-top: 55px;
}
#upper_footer,
#lower_footer,
#lower_footer nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#upper_footer > div {
  padding: 0 15px;
}
#upper_footer .logo {
  position: relative;
}
#upper_footer .logo img {
  filter: grayscale(1);
}
#upper_footer .logo h4 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: lowercase;
  position: absolute;
  top: 50%;
  margin: 0 0 0 55px;
  transform: translateY(-50%);
}
#upper_footer .address p {
  margin-left: 40px;
}
#upper_footer .address p::before {
  content: '';
  position: absolute;
  display: block;
  margin-left: -35px;
  width: 15px;
  height: 15px;
}
#upper_footer .address p:first-of-type::before {
  background: url('../img/svg/big104.svg') no-repeat;
  background-size: contain;
}
#upper_footer .address p:last-of-type::before {
  background: url('../img/svg/phone351.svg') no-repeat;
  background-size: contain;
}
#upper_footer .address a {
  color: #fff;
  text-decoration: none;
}
#upper_footer #newsletter_form {
  position: relative;
}
#upper_footer #newsletter_form label {
  font-size: 1.3rem;
  position: absolute;
  top: 15px;
  left: 10px;
}
#upper_footer #newsletter_form input {
  color: #fff;
  float: left;
  padding: 5px;
  width: 75%;
  height: 45px;
  border: 1px solid #fff;
  background: none;
}
#upper_footer #newsletter_form button {
  margin: 0 0 0 10px;
  width: 20%;
  height: 45px;
  transition: filter 250ms ease-in;
  border: none;
  background: rgba(255,255,255,.5) url('../img/svg/paper122.svg') no-repeat center center;
}
#upper_footer #newsletter_form button:hover {
  filter: invert(1);
}
#upper_footer #newsletter_form button::after {
  content: '';
  display: block;
  clear: both;
}

#upper_footer .social ul li {
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
}

#lower_footer {
  padding-bottom: 55px;
  justify-content: space-between;
  margin-top: 70px;
}
#lower_footer nav ul {
  font-weight: 400;
  text-transform: uppercase;
  justify-content: space-between;
}
#lower_footer li {
  33.33%;
}
